
/*
font-family: 'Kaushan Script', cursive;
font-family: 'Finger Paint', cursive;
font-family: 'Averia Sans Libre', cursive;
 */

#contenidos{
	width: 1000px;
	height: auto;
	margin: auto;
	position: relative;
	background-color: blue;
} 

body{
	background-image: url(../imagen/fondo.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

h1{
	font-family: 'Kaushan Script', cursive;
	margin-left: 10px;
	font-size: 60px;
	text-align: center;
}
h2{
	font-family: 'Finger Paint', cursive;
	font-size: 30px;
	width: 1000px;
	height: auto;
	background-color: lightpink;
}
header{
	width: 1000px;
	height: 200px;
	background-color: pink;
}