
/*
font-family: 'Kaushan Script', cursive;
font-family: 'Finger Paint', cursive;
font-family: 'Averia Sans Libre', cursive;
 */

#contenidos{
	width: 1500px;
	height: auto;
	margin: auto;
	position: relative;
	background-color: none;
} 

body{
	background-color: white;
}

h1{
	font-family: 'Kaushan Script', cursive;
	margin-left: 10px;
	font-size: 80px;
	text-align: left;
	width: auto;
	background:-webkit-gradient(linear, 100% 0%, 22% 100%, from(#FFFFFF), to(#FF81C2));
	border-top-left-radius:75px;
	border-top-right-radius:0px;
	border-bottom-left-radius:0px;
	border-bottom-right-radius:75px;
	opacity: 0.85;
}

h2{
	font-family: 'Finger Paint', cursive;
	font-size: 20px;
	width: 1750px;
	height: auto;
	background-color: lightpink;
	opacity: 0.85;
}

header{
	width: auto;
	height: auto;
}


.classtitulo {
-webkit-animation: cssAnimation 0.9654s 16 linear;
-moz-animation: cssAnimation 0.9654s 16 linear;
-o-animation: cssAnimation 0.9654s 16 linear;
}